@media (min-width: 850px){
  
    /* About Us CSS */
    .doctorPicture {
        height: 300px;
        width: 250px;
    }

    .aboutDoctorSection {
        flex-direction: row;
    }

    .doctorSection {
        width: 60%;
    }
    /* End About Us CSS */

    /* Side Page CSS */
    .colonoscope {
    width: 40%;
    height: 350px;
    }

    .sidePageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    /* End Side Page CSS */
}